* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: "Merriweather Sans", sans-serif;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
}
.hidden {
  display: none;
}

.analysis_div {
  position: absolute;
  width: 35%;
  transform: translate(-1rem, 32rem);
  /* display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-items: flex-start; */
  text-align: left;
  margin: 2rem 4rem;
  padding: 1.4rem 2.8rem;
  border-radius: 3rem;
  box-shadow: 0 15px 10px rgba(17, 17, 17, 0.085);
  font-weight: 600;
}
